@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientShift {
  background-size: 200% 200%;
  animation: gradientShift 15s ease-in-out infinite;
}
